form#ValorInicial{
    background-color: black;
    display: none;
}
form#Rodadas{
    background-color: black;
    display: none;
}
form#Especial{
    background-color: black;
    display: none;
}