body{
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}
#image{
    background-color: #1c1c1c;
    width: 100vh;
    height: 10vh;
}
input{
    color: #262626;
}
form{
    background-color: #0e0f16;
    display: none;
}
.button{
    background-color: #343A40;
    width: 30vh;
    height: 10vh;
    border: none;
}
#button3{
    width: 60vh;
}
#TelaInicial{
    align-items: center;
}